body{
    font-family: 'Roboto', sans-serif;
    color: grey;
}
#welcome-text{
    font-size: 40px;
    text-align: center;
}

h1{
    font-size: 35px;
}
.color-text{
    color: orange;
}

.flex-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    padding-left: 15%;
}
.half-width img{
    width: 60%;
}
.design-btn{
    background-image: linear-gradient(salmon,orange);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    color: white;
}


.about-me{
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
#my-recipies{
    text-align: center;
}

.my-recipies h2{
    color: black;
}
.box-shadow{
    box-shadow: grey 5px 5px 10px;
    border-radius: 10px;
}
.digital-counter{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 500;
}

.digital-count-size{
    width: 300px;
    height: auto;
}
footer{
    background-image: url(images/shapes/footer-bg.jpg);
    text-align: center;
    height: 300px;
    margin: 0;
}
footer{
    color: white;
}
#orange-text{
    color: orange;
    text-decoration: none;
}
#gray-text{
    color: gray;
    text-decoration: none;
}